# ignore sensitive hub configuration
config/hub

# ignore fish history
config/fish/fish_history
config/fish/fishd.*

# ignore fisherman dir
config/fish/fisherman
config/fisherman

# ignore yarn dependencies
config/yarn/global
